@layer base {
  :root {
    --background: #242424;
    --on-background: rgba(255, 255, 255, 0.87);

    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: var(--on-background);
    background-color: var(--background);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    border-style: solid;
  }

  * {
    border: 0;
    box-sizing: border-box;
  }

  a:not(.btn) {
    --at-apply: underline decoration-dashed decoration-1.5px;
    font-weight: 500;
    color: #646cff;

    &:hover {
      color: #535bf2;
      text-decoration-style: solid;
    }
  }

  body {
    --at-apply: m-0 min-h-screen;
  }

  #app {
    --at-apply: min-h-100svh p-4 lg:p-8 mx-auto flex flex-col;
  }

  h1 {
    font-size: 3.2em;
    line-height: 1.1;
  }

  @media (prefers-color-scheme: light) {
    :root {
      --background: #ffffff;
      --on-background: #213547;
    }
    a:not(.btn):hover {
      color: #747bff;
    }
  }
}

@layer components {
  button,
  .btn {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    text-decoration: none;
    background-color: #1a1a1a;
    color: buttonText;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: border-color 0.25s;

    &:not(:disabled):hover {
      border-color: #646cff;
    }
    &:focus,
    &:focus-visible {
      outline: 4px auto -webkit-focus-ring-color;
    }
    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }

  .card {
    padding: 2em;
  }
  
  @media (prefers-color-scheme: light) {
    button,
    .btn {
      background-color: #f9f9f9;
    }
  }
}
