@layer base {
  :root {
    --background: #ffffff;
    --on-background: #213547;
    --theme: #33a6a6;

    --at-apply: font-sans;

    color-scheme: light;
    color: var(--on-background);
    background-color: var(--background);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    border-style: solid;
  }

  * {
    border: 0;
    box-sizing: border-box;
  }

  a:not(.btn) {
    --at-apply: underline decoration-dashed decoration-.085em;
    font-weight: 500;
    color: #646cff;

    &:hover {
      color: #747bff;
      text-decoration-style: solid;
    }
  }

  body {
    --at-apply: m-0 min-h-screen;
  }

  #app {
    --at-apply: min-h-100svh p-4 lg:p-8 mx-auto flex flex-col;
  }

  h1 {
    font-size: 3.2em;
    line-height: 1.1;
  }
}

@layer components {
  button,
  .btn {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    text-decoration: none;
    background-color: #f4f4f4;
    color: buttonText;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: border-color 0.25s;

    &:not(:disabled):hover {
      border-color: #646cff;
    }
    &:focus,
    &:focus-visible {
      outline: 4px auto -webkit-focus-ring-color;
    }
    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }

  .card {
    padding: 2em;
  }
}
